.video-card {
  min-width: 20%;
  background-color: var(--card-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--sm);

  &:hover {
    cursor: pointer;
    .video-card__image img, .video-card__info {
      opacity: .6;
    }
  }

  &__image {
    position: relative;
    background-color: var(--bg-color);

    img {
      display: block;
      width: 100%;
      aspect-ratio: 2 / 3;
      object-fit: cover;
    }
  }
  &__image, img {

    border-radius: var(--sm);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__info {
    padding: var(--sm);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__length {
    }

    &__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}