@import "../../variables/breakpoints";

.video-grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: var(--md);

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $tablet-breakpoint) {
    grid-template-columns: repeat(5, 1fr);
  }
}