.text-xs {
    font-size: .75rem;
}

.text-sm {
    font-size: 1rem;
}

.text-md {
    font-size: 1.25rem;
}

.text-lg {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

.text-dark {
    color: var(--text-color-dark)
}